<ion-header>
  <ion-toolbar>
    <ion-title>ver-tks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let tk of tks">
      <!-- DEL TK PUEDE SALIR ESTOS DATOS 
      id
Titulo
Descripcion
Fecha
Creador
CreadorNombre
Asignado
AsignadoNombre
FechaCumplido
IdEstado
EstadoDescripcion
IdPrioridad
PrioridadDescripcion
IdTipo
TipoDescripcion
IdEmpresa
EmpresaNombre
DescripcionSHtml
Terminado
propietario -->

      <ion-col>
        {{ tk.id}}
      </ion-col>
      <ion-col>
        {{ tk.titulo}}
      </ion-col>
      <ion-col>
        {{tk.fecha | date: 'dd/MM/yyyy H:mm' }} 
      </ion-col>
      
      <ion-col>
        {{ tk.estadoDescripcion}}
      </ion-col>
      <ion-col>
        {{ tk.tipoDescripcion}}
      </ion-col>
      <ion-col>
        {{ tk.prioridadDescripcion}}
      </ion-col>
      <ion-col>
        <button size="large" expand="block" (click)="opepdf(tk.id)" class="btn-blue"
        >
        Ver
      </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>