<ion-header>
  <ion-toolbar>
    <ion-title>ver-tks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let tk of tks">
      <ion-col>
        {{ tk.id}}
      </ion-col>
      <ion-col>
        {{ tk.titulo}}
      </ion-col>
      <ion-col>
        {{ tk.EstadoDescripcion}}
      </ion-col>
      <ion-col>
        {{ tk.TipoDescripcion}}
      </ion-col>
      <ion-col>
        {{ tk.PrioridadDescripcion}}
      </ion-col>
      <ion-col>
        <button size="large" expand="block" (click)="opepdf(tk.id)" class="btn-blue"
        >
        Ver
      </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>