<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128430848341-trv66rbhtrtmer784kqi1v1ht846ni61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128430848341-trv66rbhtrtmer784kqi1v1ht846ni61</string>
	<key>API_KEY</key>
	<string>AIzaSyDXP2vRl28c6OVdqJQ1eDFnpT7d8QpptVI</string>
	<key>GCM_SENDER_ID</key>
	<string>128430848341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.latikait.ltkticket</string>
	<key>PROJECT_ID</key>
	<string>tu-ticket</string>
	<key>STORAGE_BUCKET</key>
	<string>tu-ticket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128430848341:ios:dd2ec1bff96af9ec9cd7dc</string>
</dict>
</plist>