<ion-content color="primary" padding> 
  <ion-grid class="bglogin">
    <ion-row>
      <ion-col>
        <div text-center style=" text-align: center; margin-top: 40px;">
          <img src="../../../assets/s4.png" style="max-width: 50%;" />
        </div>
        <p class="help1-titulos">LISTO!</p>
        <p class="help1-texto">Ya tienes tu ticket creado. <br> Así de simple, así de fácil.</p>
        <button size="large" expand="block" (click)="anterior()" class="btn-blanco-back" > 
          VOLVER
       </button>
        <button size="large" expand="block" (click)="siguiente()" class="btn-blanco" > 
          EMPEZAR
       </button>
       <p><a routerLink="/home" class="close">X</a></p>
      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
     
  </ion-grid>
   
</ion-content>
