<ion-content color="primary" padding> 
  <ion-grid class="bglogin">
    <ion-row>
      <ion-col>
        <div text-center style=" text-align: center; margin-top: 40px;">
          <img src="../../../assets/s2.png" style="max-width: 70%;" />
        </div>
        <p class="help1-titulos">ALTA DE TICKET</p>
        <p class="help1-texto">Elige "Crear ticket" y <br> completa el formulario.</p>
        <button size="large" expand="block" (click)="anterior()" class="btn-blanco-back" > 
          VOLVER
       </button>
       <button size="large" expand="block" (click)="siguiente()" class="btn-blanco" > <!-- CORREGIR LINK VA A HELP3-->
          SIGUIENTE
       </button>
       <p><a routerLink="/home" class="close">X</a></p>
      </ion-col>
    </ion-row>
    <ion-row>
      
    </ion-row>
     
  </ion-grid>
   
</ion-content>