<ion-header>
  <ion-toolbar>
    <ion-title><b>Ticket:</b> {{id}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <b>Ticket:</b> {{id}}<br>
  <b>Titulo:</b> {{Titulo}}<br>
  <b>Fecha:</b> {{Fecha}}<br>
  <b>Creador:</b> {{CreadorNombre}}<br>  
  <b>Asignado:</b> {{AsignadoNombre}}<br>
  <b>FechaCumplido:</b> {{FechaCumplido}}<br>
  <b>Estado:</b> {{EstadoDescripcion}}<br>
  <b>Prioridad:</b> {{PrioridadDescripcion}}<br>
  <b>Tipo:</b> {{TipoDescripcion}}<br>
  <b>Empresa:</b> {{EmpresaNombre}}<br>
  <b>Terminado:</b> {{Terminado}}<br>
  <b>propietario:</b> {{propietario}}<br>
  <b>Descripcion:</b> 
  <div [innerHTML]="Descripcion">{{Descripcion}}</div>
  
<br>
  <b>Comentarios del tk:</b> 
  <ion-grid>
    <ion-row *ngFor="let comentario of comentarios">

      <ion-col>
        <b>Fecha:</b> {{comentario.fecha | date: 'dd/MM/yyyy H:mm' }} 
      </ion-col>
      <ion-col>
        <b>Creador:</b> {{ comentario.creadorNombre}}
      </ion-col>
      <ion-col>
        <b>Asignado:</b> {{ comentario.asignadoNombre}}
      </ion-col>
      <ion-col>
        <b>Estado:</b>  {{ comentario.estadoDescripcion}}
      </ion-col>
      <ion-col>
        <b>Comentario:</b>  {{ comentario.comentario}}
      </ion-col>
     
    </ion-row>
  </ion-grid>

</ion-content>