<!-- <a routerLink="/home">home</a> -->
<ng-container *ngIf="template"> 
  

<!--<ion-header>
  <ion-toolbar>
    <ion-title>{{template.cabecera.descripcion}}</ion-title>
  </ion-toolbar>
</ion-header>-->
<!--<ion-content>
  <div class="cabeceras">
    <p class="titulos-cab">Hola <strong>{{ infoUsuario.usuarioNombre }}</strong></p>
    <p class="titulos-cab-pagina">ALTA DE TICKET / {{template.cabecera.descripcion}}</p>
  </div> 
</ion-content>-->

<ion-content>
  
  <div class="cabeceras">
    <a routerLink="/home">
      <img src="../../assets/back.png" style="max-height: 17px;top: 30px;position: absolute;margin-left: 4px;"/>
    </a>
    <p class="titulos-cab" style=" max-width: 70%;">Hola <strong>{{username}} </strong></p>
    <p class="titulos-cab-pagina">ALTA DE TICKET</p>
    <a routerLink="/help">
      <img src="../../assets/menu.png" style="max-height: 17px;position: absolute; top: 30px;float: right; right: 30px;" />
    </a>
    </div>

  <div>
    <br/>
  <p class="subtitulos cuerpo">
  {{template.cabecera.descripcion}}
  </p>
  <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()" class="cuerpo">
    <div *ngFor="let form_elem of template.detalle">
      <!-- <label>{{form_elem.label}}</label>-->
      <ion-label class="labels-template">{{form_elem.label}}</ion-label>
    <div [ngSwitch]="form_elem.tipo">
      <div *ngSwitchCase="'1'" style="margin-bottom: 15px;"><!--texto -->
        <input class="input-template" type="text" formControlName="{{form_elem.controlName}}"/>
      </div>
      <div *ngSwitchCase="'5'" style="margin-bottom: 15px;"><!--Numero -->
        <input class="input-template" type="number" formControlName="{{form_elem.controlName}}"/>
      </div>
      <div *ngSwitchCase="'2'" style="margin-bottom: 15px;" class="check-container-template" ><!--check--> 
        <input class="check-template" type="checkbox" formControlName="{{form_elem.controlName}}"/>
      </div>
      <div *ngSwitchCase="'4'" style="margin-bottom: 15px;"><!--imagen -->
        <!-- <div id="{{form_elem.controlName}}" name="{{form_elem.controlName}}"> -->
        <ion-button   (click)="openCamera(form_elem.controlName)" > Tomar Foto 
         
       </ion-button>
        <!-- </div> -->
        <!-- <ion-label>NO IMplementado</ion-label> -->
      </div>
      
      <div *ngSwitchCase="'3'" style="margin-bottom: 15px;"><!--combo -->
        <select class="input-template" formControlName="{{form_elem.controlName}}">
          <option *ngFor="let opt of form_elem.tipoComboItems" [value]="opt.descripcion">
            {{opt.descripcion}}
          </option>
        </select>
        
      </div>
    </div>  
    </div>
    <input type="submit" class="guardar-salvar" value="GUARDAR"/>
    <br/>
    <br/>
  </form>
  </div>

</ion-content>
 </ng-container> 
 <ion-footer class="footer">
  <p class="txt-footer">Copyright © 2020</p>
</ion-footer>